body {
    background-image: url("../images/alt-veggie-backdrop1-edited.jpg");
    background-size: 100%;
}

#header {
    justify-content: left;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

#footer {
    margin-top: 10px;
    text-align: center;
}

button {
    color: tomato;
}

.nav-wrapper {
    background-color: tomato;
}

.saveButton {
    background-color: tomato;
}

.clearButton {
    background-color: tomato;
}
#msg {
    color: tomato;
    font-size: 20px;
    text-align: center;
}
.table {
    margin: 0px 20px;
}


